@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.day-animate {
  position: relative;
  border: none;
}

.day-animate:after {
  position: absolute;
  content: '';
  border: 1px dashed black;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 100%;
  -webkit-animation: spinner-border 2.5s linear infinite;
  animation: spinner-border 2.5s linear infinite;
}
